<section>
    <p class="mat-display-4">mat-display-4</p>
    <p class="mat-display-3">mat-display-3</p>
    <p class="mat-display-2">mat-display-2</p>
    <p class="mat-display-1">mat-display-1</p>
</section>
<section>
    <!-- título para seções: -->
    <p class="mat-headline">mat-headline, .mat-h1, .mat-headline ou h1</p>
    <p class="mat-title">mat-title, .mat-h2, .mat-title ou h2</p>
    <p class="mat-subheading-2">mat-subheading-2, .mat-h3, .mat-subheading-2 ou h3</p>
    <p class="mat-subheading-1">mat-subheading-1, .mat-h4, .mat-subheading-1 ou h4</p>
</section>
<section>
    <p class="mat-body-1">body-1, .mat-body, .mat-body-1</p>
    <p class="mat-body-2">body-2, .mat-body-strong, .mat-body-2</p>
    <p class="caption">caption, .mat-small, .mat-caption</p>
</section>

<!-- mat-typography já está no body -->
<section class="mat-typography">
    <!-- se dentro de mat-typography: -->
    <h1>um elemento <code>h1</code></h1>
    <h2>um elemento <code>h2</code></h2>
    <h3>um elemento <code>h3</code></h3>
    <h4>um elemento <code>h4</code></h4>
</section>
